{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Connectez vous {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        {% if session.errorlogin is defined %}
            <div class="alert alert-danger">{{ session.errorlogin }}</div>
        {% endif %}
        <form method="post" action="/Login">
            <input type="email" name="uti_mail">
            <input type="password" name="uti_password">
            <input type="submit">
        </form>
        <li class="nav-item">
            <a class="nav-link" href="/Register">Créer un compte</a>
        </li>
    </div>

{% endblock %}