{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Connectez-vous {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        {% if session.errorlogin is defined %}
            <div class="alert alert-danger">{{ session.errorlogin }}</div>
        {% endif %}
        <form method="post" action="/Register">
            <p>Adresse e-mail :</p>
            <input type="email" name="email">
            <p>Nom :</p>
            <input name="nom">
            <p>Prénom :</p>
            <input name="prenom">
            <p>Mot de passe :</p>
            <input type="password" name="password">
            <br>
            <input type="submit">
        </form>
    </div>

{% endblock %}